#spacecraft{

top:9630px;
left:10100px;
  z-index:1;
  height:200px;
position: absolute;
    -webkit-animation: myOrbit 12s linear infinite; /* chrome, safari5 */
       -moz-animation: myOrbit 12s linear infinite; /* firefox */
         -o-animation: myOrbit 12s linear infinite; /* opera 12+ */
            animation: myOrbit 12s linear infinite; /* chrome, firefox 16+, 
                                                      IE 10+, sfari 5 */
            
}

@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(400px) rotate(0deg); } 
    to   { -webkit-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(400px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(400px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(400px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(400px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(400px) rotate(-360deg); }
    

    80% { z-index: 0; }
    50% { z-index: 10; }
  	0% { z-index: 0; }
}
