.universe{-webkit-transform: scale(0.70);     /* Chrome and other webkit browsers */
  -moz-transform: scale(0.70);        /* FF */
  -o-transform: scale(0.70);          /* Opera */
  -ms-transform: scale(0.70);         /* IE9 */
  transform: scale(0.70);}