
@page {
    size: A4;
    margin-left: 40mm;
    margin-bottom:30mm;
    margin-top:10mm;
}
h2 {
  display:none;
}

h3 {
  font-size:27px;
  font-family: 'Inconsolata';
  font-weight: normal;
  color:black;
}


p{
 display:none;
}


.hide{
  color:black;
}

#main_link1{width:300px; display: inline-block; border: 1px solid black; padding:10px; background-color: white; color:black;}
.next{display:none;}


.bgtitle{
  display:none;
}

.nav-bar2{display: none;}
.nav-bar{display: none;}
ul{display: none;}
li{display: none;}

.zonnetje{
    display: none;
}
.zonnetje2{
    display: none;
}

.universe{width:794px;height:30000px;
  z-index:0;
  overflow:hidden;
  background-color:yellow;
}
.container{display:none;}



#start {
  height:1300px;
  display: block;
  margin-top:100px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  top:20px;
  z-index:20;
  width:100px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}



#abstract {
  display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
  
}





#introduction {
  display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}




#chapter1 {
  display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}



#chapter2 {
    height:3000px;
  display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}




#chapter3 {

  display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}



#chapter4a {
  display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}



#chapter4b {
display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}



#chapter4c {

 display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}



#conclusion {
display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}



#references {

 display: block;
  margin:0px;
  z-index:90;
  width:600px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}