@page {
    size: A4;
    margin-left:15mm;
    margin-right:15mm;
    counter-increment: page;
    counter-reset: page 1;
}

.universe{
  height:114100px;
}

svg {display: none;}
audio{display: none;}

#start{margin-left:0px;padding-left:0px;}
#mainlink1{margin-left:0px;padding-left:0px;}
#maintitel{margin-left:0px;padding-left:0px;}


h2 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 28px;
  font-size: 26px;
  border: 1px solid black;
  border-top:none;
  font-family: Times new roman;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
}

h3 {
  padding-top:0px;
  padding-bottom:0px;
  width:250px;
  padding-left: 15px;
  font-size:14px;
  line-height: 17px;
  font-family: 'Inconsolata';
  font-weight: normal;
  color:black;
}
h4{border:1px solid black; font-size: 18px;line-height: 20px;}

p{
  font-family: Times New Roman;
  line-height: 16px;
  font-size:14px;
  position: relative;
  color:black;
}

#hideprint{display: none;}

img{padding: 0px;margin-left:3px;}
#sup{vertical-align: text-top; font-size: 8px; display: inline-block; color:black;}
#sup2{font-family: Lucida Console; font-size:12px;padding:5px; padding-bottom:0px;border: 1px solid black; border-top:none;display: inline-block; margin:0px; margin-bottom:50px;}
.hide{
  font-family: Times New Roman;
  color:black;
  font-style: italic;
}
.hide2{
  display:block;
  color:black;
}

#mainlink1{width:300px; display: block; border: 1px solid black; margin-bottom:50px; padding:10px; padding:10px; background-color: white; color:black;}
#next{display:none;}
#first_next{display:none;}

.bgtitle{
  float:left;
  display: inline-block; 
  position: static;
  z-index: 80;
  font-family: "Times New Roman", Times, serif;
  font-size:60px;
  color:black;
  border:1px solid black;
  border: 1px solid black;
  border-right: none;
  margin-right:0px;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-right:0px;
  text-align: center;
}

.firstline{
  font-family: Georgia, serif;
  font-style: italic;
  font-size:30px;
  line-height: 30px;
  position: relative;
}


.nav-bar3{display: none;}
.nav-bar2{display: none;}
.nav-bar{display: none;}
ul{display: none;}
li{display: none;}

.zonnetje{
    display: none;
}
.zonnetje2{
    display: none;
}
.zonnetje3{
    display: none;
}
#half{position: fixed; left:50%; width:1px;height:80000px; border:1px dashed black; visibility: visible;}


.container{page-break-after:always;display:block;page-break-after:always;margin-right:0px;width: 270px; color:black; margin:40px;padding:20px;background-color: #fff; border:1px solid black;}

#start {
  border:none;
  height:1300px;
  display: block;
  margin-top:10px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:100px;
  top:20px;
  z-index:20;
  width:800px;
  position: relative;
  background-color: #fff;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}



#indexid{display: inline-block; margin:0px; margin-top:2090px; margin-bottom: 0px;border-bottom:none; }
#printindex{
  page-break-after: always;
  width:200px;
  height:400px;
  top:-62px;
  margin-right: 0px;
  line-height: 30px;
  display: inline-block; 
  border: 1px solid black;  
  margin-top: 0px;
  margin-bottom: 2320px;
  position: relative;
  padding:20px;
  font-family: 'Lucida Console';
}


.indexitem{
  font-size:16px;
  font-family: 'Lucida Console';
  font-weight: normal;}



#abstractid {display: block; position: relative; margin:0px;}
#abstract {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  padding-top: 40px; 
  margin-right:200px;
  margin-bottom:500px;
}





#introductionid1 {left:600px;display:block; position: relative; margin:0px;}
#introduction1 {
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:120px;
  padding-top: 40px; 
}
#introductionid2 {display: block; position: static; margin:0px;} 
#introduction2 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:2140px;
  margin-top:120px;
  padding-top: 40px; 
}



#chapter1id_1 {left:50px;display: block; position: static; margin:0px;}
#chapter1_1 {
  left:50px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: static;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:10px;
  padding-top: 0px;  
}
#chapter1id_2 {display: block; position: relative; margin:0px;} 
#chapter1_2{
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:400px;
  margin-top:120px;
  padding-top: 0px;   
}
#chapter1id_3 {display: block; position: static; margin:0px;}
#chapter1_3 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: static;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:20px;
  padding-top: 0px;
}
#chapter1id_4 {left:600px;display: block; position: static; margin:0px;}
#chapter1_4 {
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:120px;
  margin-top:130px;
  padding-top: 0px;
}



#chapter2id_1 {display: block; position: static; margin:0px;}
#chapter2_1 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:500px;
  margin-top:0px;
  padding-top: 0px;
  page-break-after: always;
}
#chapter2id_2 {left:600px;display: block; position: static; margin:0px;
}
#chapter2_2 {
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:520px;
  margin-top:20px;
  padding-top: 0px;
}
#chapter2id_3 {display: block; position: static; margin:0px; 
}
#chapter2_3 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:1900px;
  margin-top:20px;
  padding-top: 0px;
}




#chapter3id_1 {
  display: block; position: static; margin:0px;
}
#chapter3_1 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:318px;
  padding-top: 0px;
}
#chapter3id_2 {
 left:600px;display: block; position: static; margin:0px; 
}
#chapter3_2 {
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:190px;
  margin-top:20px;
  padding-top: 0px
}
#chapter3id_3 {display: block; position: static; margin:0px;
}
#chapter3_3 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:1700px;
  margin-top:20px;
  padding-top: 0px
}




#chapter4id_1 {display: block; position: static; margin:0px;
}
#chapter4_1 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:800px;
  margin-top:0px;
  padding-top: 0px
}
#chapter4id_2 {left:600px;display: block; position: static; margin:0px;
}
#chapter4_2 {
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:1980px;
  margin-top:0px;
  padding-top: 0px
}



#chapter5id_1 {display: block; position: static; margin:0px;
}
#chapter5_1 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:500px;
  margin-top:0px;
  padding-top: 0px;
}
#chapter5id_2 {left:600px;display: block; position: static; margin:0px;
}
#chapter5_2 {
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:600px;
  margin-top:100px;
  padding-top: 0px;
}
#chapter5id_3 {display: block; position: static; margin:0px;
}
#chapter5_3 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:1900px;
  margin-top:0px;
  padding-top: 0px;
}



#chapter6id_1 {display: block; position: relative; margin:0px;
}
#chapter6_1 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:2000px;
  margin-top:0px;
  padding-top: 0px;
}


#conclusionid1 {display: block; position: relative; margin:0px;
}
#conclusion1 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:0px;
  margin-top:0px;
  padding-top: 0px;
}
#conclusionid2{left:600px;display: block; position: relative; margin:0px;
}
#conclusion2{
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:750px;
  margin-top:0px;
  padding-top: 0px;
}


#colophonid{display: block; position: relative; margin:0px;
}
#colophon{
  margin:0px;
   margin-top:3600px;
  display: inline-block;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:300px;
  padding-top: 0px;
}




#referencesid {display: block; position: relative; margin:0px;margin-top:160px;
}
#references {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:0px;
  margin-top:0px;
  padding-top: 0px;
}
#referencesid2 {left:600px;display: block; position: relative; margin:0px; 
}
#references2 {
  left:600px;
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:0px;
  margin-top:0px;
  padding-top: 0px;
}
#referencesid3 {display: block; position: relative; margin:0px; 
}
#references3 {
  display: inline-block;
  margin:0px;
  border:1px solid black;
  z-index:90;
  position: relative;
  background-color: #fff;
  padding-right:30px;
  margin-bottom:300px;
  margin-top:0px;
  padding-top: 0px;
}




.ufo{margin-top:0px; z-index:0; padding-top:0px; padding-top:0px; position:static!important; display:block!important; margin:0px;}
.ufo p{width:300px;border:1px solid black; font-family: Lucida Console; font-size:10px; display: block; margin:0px; margin-bottom:0px;}
.ufo img{padding:0px;margin-left:0px;margin-top:0px; display: inline-block;margin-bottom: 0px;}

#one{left:600px;display: block; position: relative; margin:0px; width:420px;}
#source{line-height:13px; text-decoration:underline;}


.hidden2{
  border:none;
  box-shadow: none;
  position:static;
  display:inline-block;
  visibility: visible;   
  font-family: Times New Roman, serif;
  color:black;
  letter-spacing: 1px;
  line-height: 14px;
  font-size:12px;
  width:230px;
  padding-top: 0px;
  padding-bottom:00px;
  z-index:999;
}

.hidden iframe{
 display:none;
}



#source{font-size: 10px;}
