@media screen and (max-width: 10000px) and (min-width: 1700px) {
  .universe {
   -webkit-transform: scale(100%);
      -moz-transform: scale(100%);
      transform: scale(100%);
  }
}

@media screen and (max-width: 1700px) and (min-width: 700px) {
  .universe {
   -webkit-transform: scale(200%);
      -moz-transform: scale(200%);
      transform: scale(200%);
  }
}


@media screen and (max-width: 700px) {
    /* we want smaller headings*/
    .universe{background-color: grey; background-image:none;}
    p {font-size: 18px; line-height: 22px;}
    .bgtitle{font-size:38px;}
    .firstline{font-size: 28px;}
    h3{font-size: 22px;}
    .container{width:400px; display:}
    .zonnetje{
      position: fixed;
      top:20px;
      padding-left: 25px;
      z-index: 9999;
      height: 0px;
      float: left; }
    .zonnetje2{visibility: hidden;}
    .circle{color:white;}
    

    .next a{font-size: 30px;}
    #start{width:200px;border: 1px solid black;}
    #main_link1{font-size: 52px;color:black; }
    #first_next a{color:black;}

    #startid{margin-left:4500px;}
    #abstractid{margin-left:6800px;}


    .nav-bar2{visibility: hidden;}

    .hidden{left:-500%;background-color: rgba(255, 255, 255, 1);}

    .hide:active + .hidden{
    opacity:1;
    transition:0s;
    left:10%;
    }
    }