svg{display: none;}
.universe{
	background-color: white; 
	height:12000px;}

p{
	font-size: 22px; 
	line-height: 25px;}

.bgtitle{
	font-size:38px;}

.firstline{
	font-size: 28px;}

 h3{
 	font-size: 22px;}

.container{width:350px;}

#start{width:200px;}

#main_link1{
      font-size: 40px;
      color:black;
      width:150px; 
      }

#next{
  -webkit-transform: scale(0.6);     /* Chrome and other webkit browsers */
  -moz-transform: scale(0.6);        /* FF */
  -o-transform: scale(0.6);          /* Opera */
  -ms-transform: scale(0.6);         /* IE9 */
  transform: scale(0.6);}


.zonnetje2{display: none;}
.zonnetje3{display: none;}

.random{display:none;}

 #startid {
  margin-top:4600px; 
  margin-left:4520px;
  visibility: hidden; 
}
#first_next{
  -webkit-transform: scale(0.6);     /* Chrome and other webkit browsers */
  -moz-transform: scale(0.6);        /* FF */
  -o-transform: scale(0.6);          /* Opera */
  -ms-transform: scale(0.6);         /* IE9 */
  transform: scale(0.6); 
  margin-left:-150px; 
  border:2px solid black;} 

  .hidden2{
}