
a{

  text-decoration: none;
}

body{  color:#000; background-color:#fff; }

.container {
  
  max-width: 70%;
  margin: 0 auto;
  padding-left:0%;
  

}



h1 {
  font-size: 80px;
  text-align: left;
  line-height: 80px;
  font-family: "Lucida Console";

}


h4 {
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #000;
  
}


/* 

  Modules

 */

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #000;
  line-height: 05px;
}

section.module p {
text-indent: 70px;
  margin-bottom: 20px;
  color: #000;
  font-weight: 300;
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  border-right:2px solid black;
  border-left:2px solid black;
  padding-left:20px;
  padding-right:20px;
  z-index: 999;
  background-color: white;
}


section.module a {
font-family: "Lucida Console", Monaco, monospace;
font-style: bold;
font-size: 34px;
}



section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 0px 0;
  
}
section.module.parallax {
  height: 500px;
  background-color: #fff;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
}
section.module.parallax h1 {
  
  padding-top:130px;
  padding-bottom:20px;
  color:#fff; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: italic;
  line-height: 65px;
  
}



section.module.parallax h3 {
  font-size: 90px;
  line-height: 80px;
  padding-top:0px;
  color:#000; 
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: italic;
  font-weight: bold;
  
  text-align: left;
 
  /*
  text-shadow: 30px 20px 7px rgba(0, 0, 0, 1);   
  */
}


/*
section.module.parallax-1 {
  background-image: url("images/tumblr_nkp568LZoh1ups3geo3_500.jpg");
}
*/
section.module.parallax-2 {
  background-image: url("images/Pioneer_F_Plaque_Symbology_-_GPN-2000-001623.jpg");
border:2px solid black;
box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 1);
margin-bottom:0px;
  
}

section.module.parallax-3 {
  background-image: url("images/marsattacks.gif");
  border:2px solid black;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 1);
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 20px;
  }
  section.module p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  section.module.parallax h1 {
    font-size: 60px;
    line-height: 70px;
    text-align: center;

  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 65px;
    line-height: 70px;
  }
}


/* nav bar */

.nav-bar {
  position: fixed;
  top:100px;
  padding-left: 25px;
  z-index: 9999;
  width: 180px;
  height: 0px;
  background-color: #000;
  background-color: white;


}






.nav-bar ul{

    float: left;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    margin: 0px;
    list-style-type: none;
    float: left;
    padding-bottom:30px;
    border:2px solid black;
    
    
    box-shadow: 15px 15px 55px rgba(0, 0, 0, 1);
}

.nav-bar li {
    display: block;
    line-height: 40px;
    
   
}


.nav-bar li a {
  text-decoration: none;
	font-size:28px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
 
 
  
  
}









/*

Tooltip images

*/


.tooltip{
    display: inline;
    position: relative;
}





a.tooltip {outline:none; }
a.tooltip strong {line-height:20px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; 
    padding:14px 20px;
    margin-top:34px; 
    margin-left:0px;
    width:300px; 
  font-family:'Inconsolata';
  color:black;
  letter-spacing: 1px;
  line-height: 20px;
  font-size:13px;
  
}
a.tooltip:hover span{
    display:inline; position:absolute; 
    background:red;
}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}

}

a.tooltip2 {outline:none; }
a.tooltip strong {line-height:20px;}
a.tooltip2:hover {text-decoration:none;} 
a.tooltip2 span {
    z-index:10;display:none; 

    padding:14px 20px;
    margin-top:34px; 
    margin-left:-200px;
    width:300px; 
  font-family:'Inconsolata';
  color:white;
  letter-spacing: 1px;
  line-height: 20px;
  font-size:13px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 1);

  
  
}

a.tooltip2 span img{
margin-left:-70px;
}

a.tooltip2 span iframe{
margin-left:-80px;
}





a.tooltip2:hover span{
    display:inline; position:absolute; 
    background:blue;
    text-decoration: none;
}

.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}

}



