.container{
  z-index:20;
  width:800px;
  position:absolute;
  background-color: #000;
  padding-left:30px;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}

img.random{z-index:10;}



body{  
  
  color:#fff; 
  font-size:15px;
  z-index:-999;
}

.next{text-align: left;}
.next a{text-decoration: none; font-size: 60px; color:white; text-align: left;}




h2 {
  padding-top:20px;
  padding-left:100px;
  padding-bottom: 20px;
  line-height: 70px;
  font-size: 79px;
  font-family: Times new roman;
  text-decoration: none;
  padding-top: -20px;
  margin-top:0px;
  margin-bottom:0px;
   
}

h3 {
  font-size:27px;
  font-family: 'Inconsolata';
  font-weight: normal;
}


p{
  font-family: Georgia;
  line-height: 25px;
  font-size:21px;
  position: relative;
}


.universe{
  width:10000px; height:10000px; overflow:scroll;
  z-index:0;
  overflow:hidden;
  background-image:
  radial-gradient(
  circle closest-side,black,white);

}


.circle {
  padding:0px;
  font-family:Arial;
  font-size: 80px;
  color:yellow;
}




#main_titel{font-size: 100px; color:black; font-family:'Inconsolata'; font-weight: bold; z-index: 20; color:white; padding:;}
#main_link1{width:300px; display: inline-block; }
#main_link2{width:300px; display: inline-block; }
#eerste{text-align: left; color:white;}
.bgtitle{
  font-family: 'Exo', sans-serif;
  float:left;
  font-size:100px;
  color:white;
  border: 1px solid white;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 10px;
  padding-top: 0px;
  margin-right:40px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-align: center;
}
.firstline{
  line-height: 33px;
  font-style: italic;
  
  font-size:45px;
  position: relative;}


#startid {
position:absolute; 
  content: " "; 
  margin-top:4550px; 
  margin-left:4150px;
  visibility: hidden; 

}

#start {
  z-index:20;
  position:absolute;
  margin-top:4650px;
  margin-left:4550px;
  padding:80px;
  width:650px;
  border: 1px solid white;
}




#abstractid { 
  position:absolute;
  content: " "; 
  margin-top:5900px; 
  margin-left:6500px;
  visibility: hidden; 

}

#abstract {
  margin-top:6000px;
  margin-left:6800px;
}



#introductionid {
 position:absolute;
  content: " "; 
  margin-top:6300px; 
  margin-left:1100px;
  visibility: hidden; 
}

#introduction {
  margin-top:6400px;
  margin-left:1400px;
}


#chapter1id {
 position:absolute;
  content: " "; 
  margin-top:1100px; 
  margin-left:8300px;
  visibility: hidden; 
}

#chapter1 {
  margin-top:1200px;
  margin-left:8600px; 
}

#chapter2id {
  position:absolute;
  content: " "; 
  margin-top:700px; 
  margin-left:700px;
  visibility: hidden; 
}

#chapter2 {
  margin-top:800px;
  margin-left:1000px;
}


#chapter3id {
  position:absolute;
  content: " "; 
  margin-top:600px; 
  margin-left:5800px;
  visibility: hidden; 
}

#chapter3 {

  margin-top:700px;
  margin-left:6100px;
}




#chapter4aid {
 position:absolute;
  content: " "; 
  margin-top:2600px; 
  margin-left:2800px;
  visibility: hidden; 
}

#chapter4a {

  margin-top:2700px;
  margin-left:3100px;
}

#chapter4bid {
 position:absolute;
  content: " "; 
  margin-top:1300px; 
  margin-left:4000px;
  visibility: hidden; 
}

#chapter4b {

  margin-top:1400px;
  margin-left:4300px;
}

#chapter4cid {
 position:absolute;
  content: " "; 
  margin-top:5900px; 
  margin-left:4000px;
  visibility: hidden; 
}

#chapter4c {

  margin-top:6000px;
  margin-left:4300px;
}

#conclusionid {
 position:absolute;
  content: " "; 
  margin-top:300px; 
  margin-left:2100px;
  visibility: hidden; 
}

#conclusion {

  margin-top:400px;
  margin-left:2400px;
}


#referencesid {
 position:absolute;
  content: " "; 
  margin-top:7900px; 
  margin-left:7200px;
  visibility: hidden; 
}

#references {

  margin-top:8000px;
  margin-left:7500px;
}



#printpageid {
  position:absolute;
  content: " "; 
  margin-top:8400px; 
  margin-left:3900px;
  visibility: hidden; 
}

#printpage {
  margin-top:8500px;
  margin-left:4500px;
  z-index:20;
  position:absolute;
  background-color: #000;
  padding-left:30px;
  padding-right:40px;
  padding-bottom:20px;
  padding-top: 40px;
}


.zonnetje{
  font-family: 'Exo', sans-serif;
  position: fixed;
  top:20px;
  padding-left: 25px;
  z-index: 9999;
  height: 0px;
  float: left; 
}
.zonnetje a{text-decoration: none;}
.zonnetje a:hover{cursor: pointer;}



.nav-bar {
  font-family: 'Exo', sans-serif;
  position: fixed;
  top:100px;
  padding-left: 25px;
  z-index: 99999;
  height: 0px;
  background-color: white;
  display: none;

}

.nav-bar ul{
    background: rgba(255, 255, 20, .5);
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    margin: 0px;
    list-style-type: none;
    padding-bottom:30px; 
    box-shadow: 15px 15px 55px rgba(0, 0, 0, 1);
    
}

.nav-bar li {
    display: block;
    line-height: 40px; 
}


.nav-bar li a {
  text-decoration: none;
	font-size:28px;
	color: #000;
}


.zonnetje2{
  font-family: 'Exo', sans-serif;
  position: fixed;
  bottom:120px;
  padding-left: 25px;
  z-index: 9999;
  height: 0px;
  background-color: white;
  float: left; 
}
.zonnetje2 a{text-decoration: none;}
.zonnetje2 a:hover{cursor: pointer;}


.nav-bar2 {
  font-family: 'Exo', sans-serif;
  position: fixed;
  bottom:150px;
  padding-left: 25px;
  z-index: 99999;
  height: 0px;
  display: none;
}

.nav-bar2 ul{
    background-color: rgba(0, 120, 255, 0.6);
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0px;
    list-style-type: none;
    float: left;
    padding-bottom:10px;
    box-shadow: 13px 13px 53px rgba(0, 0, 0, 1);
}

.nav-bar2 li {
    display: block;
    line-height: 23px;  
}


.nav-bar2 li a {
  text-decoration: none;
  font-size:28px;
  color: #000;
}





/*

footnotes that fade-out

*/


.hide{
  color:yellow;
}

.hide:hover{
  color:#3366ff;
}


.hidden{
  position:absolute;
  opacity:0;
  background-color: rgba(255, 255, 255, 0.6);
  transition:2s 5s; 
  padding:12px 20px;
  left:-500%;  
  font-family:'Inconsolata';
  color:black;
  letter-spacing: 1px;
  line-height: 20px;
  font-size:18px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 1);

}
.hide:hover{
  cursor: pointer;
}


.hide:active + .hidden{
    opacity:1;
    transition:0s;
    left:110%;
}



.hidden iframe{
  width:500px;
}







